<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="conteiner">
        <div class="bar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/currency_list">Available currencies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/add_currency">Add currency</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/rate">Check rate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/add_rate">Add new rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/make_exchange">Make exchange</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/change_rate">Change rate</a>
                </li>
            <ul>
        </div>
        <div class="main">
            <h1 class="display-4">Available currencies:</h1>
            <hr>
            {% for content in data %}
            <div>
                <ul>
                    <li style="font-weight: bold;">Id: {{content.id}}</li>
                    <li>Code: {{content.code}}</li>
                    <li>Name: {{content.fullname}}</li>
                    <li>Sign: {{content.sign}}</li>
                </ul>

                <a href="/delete?id={{content.id}}"><img src="{{ url_for('static', filename='img/delete.png') }}" style="width:3%; height:3%;"></a>
                
                <hr class="my-4">
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>